body {
    height: 100vh;
    margin: 0;
    background-color: #F2F2F2;
}

button:hover {
    background-color: red;
}

.heading {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    align-items: flex-start;
    background-color: white;
    box-shadow: 1px 1px 4px #888888;
}

.heading h1 {
    margin: 0;
}
.heading button {
    border-radius: 10px;
    width: 5rem;
    height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    background-color: #F9F3EE;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content button {
    border: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    border-radius: 10px;
    width: 13rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.footer img {
    width: 1.2rem;
    height: 1.2rem;
    padding-left: 0.2rem;
    transition: transform .5s ease-in-out;
}

.footer img:hover {
    transform: rotate(360deg);
}

.pop-up {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(0.1);
    visibility: hidden;
    background-color: #EFEAD8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem;
    transition: transform 0.4s, top 0.4s;
}

.open-pop-up {
    transform: translate(50%, -50%) scale(1);
    visibility: visible;
}
.pop-up form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
}

.pop-up input {
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    margin: 5px 10px;;
    width: 250px;
    height: 1.5rem;
}

.pop-up .isRead input {
    width: 20px;
    height: 20px;
}

.isRead {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.pop-up button {
    background-color: #B4FF9F;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

button:hover {
    background-color: #D0C9C0;
}

.books-grid {
    display: grid;
}